.ContactData {
    margin: 20px;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px, 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    background-color: #eee;
    box-sizing:border-box ;
}

@media (min-width: 700pc) {
    .ContactData {
        width: 600px;
    }
}